all-backup.flow.json
[
  {
    "id": "439a825c2c6b5782",
    "type": "tab",
    "label": "automatisation",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "6557961920b6fdb5",
    "type": "tab",
    "label": "Test"
  },
  {
    "id": "5f060b715a381ee3",
    "type": "tab",
    "label": "rest"
  },
  {
    "id": "4f88f8353219b42b",
    "type": "mqtt-broker",
    "name": "",
    "broker": "localhost",
    "port": "1883",
    "tls": "",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "verifyservercert": "",
    "compatmode": "",
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "",
    "willPayload": "",
    "willMsg": {},
    "sessionExpiry": ""
  },
  {
    "id": "6d492f9e7b676569",
    "type": "tado-config",
    "name": "Appartement"
  },
  {
    "id": "745222df-7724-4dca-93b5-fb11b23cac3d",
    "type": "tado-config",
    "z": "6557961920b6fdb5",
    "name": "tado-home"
  },
  {
    "id": "v9dd",
    "type": "tado-config",
    "z": "5f060b715a381ee3",
    "name": "Appartement"
  },
  {
    "id": "3db484e420db26b7",
    "type": "mqtt in",
    "z": "439a825c2c6b5782",
    "name": "",
    "topic": "zigbee2mqtt/sensor-toilette-2",
    "qos": "2",
    "datatype": "auto",
    "broker": "4f88f8353219b42b",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 160,
    "y": 160,
    "wires": [["6b38462b365554f9"]]
  },
  {
    "id": "6b38462b365554f9",
    "type": "json",
    "z": "439a825c2c6b5782",
    "name": "sensor-payload",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 420,
    "y": 160,
    "wires": [["23527517b6320582"]]
  },
  {
    "id": "e3a61b9df11196cc",
    "type": "mqtt out",
    "z": "439a825c2c6b5782",
    "name": "",
    "topic": "zigbee2mqtt/switch-toilette-2/set",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "4f88f8353219b42b",
    "x": 910,
    "y": 160,
    "wires": []
  },
  {
    "id": "23527517b6320582",
    "type": "function",
    "z": "439a825c2c6b5782",
    "name": "",
    "func": "if(msg.payload.occupancy){\n    msg.payload = {\"state\": \"ON\"};\n} else {\n        msg.payload = {\"state\": \"OFF\"};\n}\n\nreturn msg",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 640,
    "y": 160,
    "wires": [["e3a61b9df11196cc"]]
  },
  {
    "id": "1c3c07dd9806f7f8",
    "type": "mqtt in",
    "z": "439a825c2c6b5782",
    "name": "",
    "topic": "zigbee2mqtt/sensor-toilette-1",
    "qos": "2",
    "datatype": "auto",
    "broker": "4f88f8353219b42b",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 160,
    "y": 220,
    "wires": [["9cb131580b56c875"]]
  },
  {
    "id": "9cb131580b56c875",
    "type": "json",
    "z": "439a825c2c6b5782",
    "name": "sensor-payload",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 420,
    "y": 220,
    "wires": [["8897a1acc1d56b1a"]]
  },
  {
    "id": "bdc2040b33f9f971",
    "type": "mqtt out",
    "z": "439a825c2c6b5782",
    "name": "",
    "topic": "zigbee2mqtt/switch-toilette-1/set",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "4f88f8353219b42b",
    "x": 910,
    "y": 220,
    "wires": []
  },
  {
    "id": "8897a1acc1d56b1a",
    "type": "function",
    "z": "439a825c2c6b5782",
    "name": "",
    "func": "if(msg.payload.occupancy){\n    msg.payload = {\"state\": \"ON\"};\n} else {\n        msg.payload = {\"state\": \"OFF\"};\n}\n\nreturn msg",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 640,
    "y": 220,
    "wires": [["bdc2040b33f9f971"]]
  },
  {
    "id": "d1e087f8a99282e1",
    "type": "mqtt in",
    "z": "439a825c2c6b5782",
    "name": "",
    "topic": "zigbee2mqtt/sensor-bathroom",
    "qos": "2",
    "datatype": "auto",
    "broker": "4f88f8353219b42b",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 160,
    "y": 280,
    "wires": [["34ca3f3476d34330"]]
  },
  {
    "id": "34ca3f3476d34330",
    "type": "json",
    "z": "439a825c2c6b5782",
    "name": "sensor-payload",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 420,
    "y": 280,
    "wires": [["57addaa16bb27605"]]
  },
  {
    "id": "23a6e13cb47ae2f4",
    "type": "mqtt out",
    "z": "439a825c2c6b5782",
    "name": "",
    "topic": "zigbee2mqtt/switch-bathroom/set",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "4f88f8353219b42b",
    "x": 1220,
    "y": 280,
    "wires": []
  },
  {
    "id": "49a3d8c6e77fc20f",
    "type": "trigger",
    "z": "439a825c2c6b5782",
    "name": "",
    "op1": "1",
    "op2": "",
    "op1type": "str",
    "op2type": "payl",
    "duration": "15",
    "extend": false,
    "overrideDelay": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 830,
    "y": 280,
    "wires": [["ddc9988844e4907b"]]
  },
  {
    "id": "57addaa16bb27605",
    "type": "function",
    "z": "439a825c2c6b5782",
    "name": "",
    "func": "if(msg.payload.occupancy !== undefined){\n    msg.payload = msg.payload\n    var newMsg = { payload: msg.payload };\n    console.log(newMsg)\n    return newMsg;\n} else {\n    return;\n}\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 640,
    "y": 280,
    "wires": [["49a3d8c6e77fc20f"]]
  },
  {
    "id": "ddc9988844e4907b",
    "type": "function",
    "z": "439a825c2c6b5782",
    "name": "",
    "func": "console.log(msg)\nif(msg.payload.occupancy === false){\n     msg.payload ={\"state_right\":\"OFF\",\"state_left\":\"OFF\"};\n    return msg\n} else {\n    return\n}\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 980,
    "y": 280,
    "wires": [["23a6e13cb47ae2f4"]]
  },
  {
    "id": "c74ca80a6f3a5b0b",
    "type": "inject",
    "z": "439a825c2c6b5782",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 340,
    "wires": [["79c8ce94a607cbc5"]]
  },
  {
    "id": "fe8cfbe4abbe1df9",
    "type": "mqtt out",
    "z": "439a825c2c6b5782",
    "name": "",
    "topic": "zigbee2mqtt/switch-dinner/set",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "4f88f8353219b42b",
    "x": 510,
    "y": 340,
    "wires": []
  },
  {
    "id": "79c8ce94a607cbc5",
    "type": "function",
    "z": "439a825c2c6b5782",
    "name": "",
    "func": "return {\n    payload: {\n            state: \"ON\"\n    }\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 280,
    "y": 340,
    "wires": [["fe8cfbe4abbe1df9"]]
  },
  {
    "id": "b96109de3e526ad6",
    "type": "inject",
    "z": "439a825c2c6b5782",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 400,
    "wires": [["6a3713463eafaf4a"]]
  },
  {
    "id": "25bd9d738ba13aaa",
    "type": "mqtt out",
    "z": "439a825c2c6b5782",
    "name": "",
    "topic": "zigbee2mqtt/switch-dinner/set",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "4f88f8353219b42b",
    "x": 510,
    "y": 400,
    "wires": []
  },
  {
    "id": "6a3713463eafaf4a",
    "type": "function",
    "z": "439a825c2c6b5782",
    "name": "",
    "func": "return {\n    payload: {\n            state: \"OFF\"\n    }\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 280,
    "y": 400,
    "wires": [["25bd9d738ba13aaa"]]
  },
  {
    "id": "3398db8b8a5bfbd2",
    "type": "http in",
    "z": "5f060b715a381ee3",
    "name": "get/devices",
    "url": "/devices",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 110,
    "y": 60,
    "wires": [["98bfd77518f535b5"]]
  },
  {
    "id": "b0f86a24312b05b6",
    "type": "http response",
    "z": "5f060b715a381ee3",
    "name": "return/devices",
    "statusCode": "200",
    "headers": {},
    "x": 1180,
    "y": 60,
    "wires": []
  },
  {
    "id": "fe5490b51a2ef29c",
    "type": "function",
    "z": "5f060b715a381ee3",
    "name": "",
    "func": "if(msg.payload) {\n\nmsg.config = JSON.parse(msg.payload)\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 480,
    "y": 60,
    "wires": [["729b76026058ba53"]]
  },
  {
    "id": "98bfd77518f535b5",
    "type": "file in",
    "z": "5f060b715a381ee3",
    "name": "read/state",
    "filename": "/md127/zigbee2mqtt/data/state.json",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "utf8",
    "allProps": false,
    "x": 300,
    "y": 60,
    "wires": [["fe5490b51a2ef29c"]]
  },
  {
    "id": "729b76026058ba53",
    "type": "file in",
    "z": "5f060b715a381ee3",
    "name": "read/devices",
    "filename": "/md127/zigbee2mqtt/data/configuration.yaml",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "utf8",
    "allProps": false,
    "x": 670,
    "y": 60,
    "wires": [["5de10f33d749cfe2"]]
  },
  {
    "id": "5de10f33d749cfe2",
    "type": "yaml",
    "z": "5f060b715a381ee3",
    "property": "payload",
    "name": "",
    "x": 830,
    "y": 60,
    "wires": [["8b2497094b5c3c2f"]]
  },
  {
    "id": "8b2497094b5c3c2f",
    "type": "function",
    "z": "5f060b715a381ee3",
    "name": "",
    "func": "if(msg.payload) {\nlet payload= []\nfor (const [keyDevice, value] of Object.entries(msg.config)) {\n    let device = value\n    device.name= keyDevice\n    device.friendly_name = msg.payload.devices[keyDevice].friendly_name\n    payload.push(device)\n}\nmsg.payload = payload\nconsole.log(payload)\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 980,
    "y": 60,
    "wires": [["b0f86a24312b05b6"]]
  },
  {
    "id": "d358c91628a2051b",
    "type": "http in",
    "z": "5f060b715a381ee3",
    "name": "get/states",
    "url": "/states",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 100,
    "y": 140,
    "wires": [["3beaacfb846045a0"]]
  },
  {
    "id": "55e2baedf3eb8be9",
    "type": "function",
    "z": "5f060b715a381ee3",
    "name": "",
    "func": "if(msg.payload) {\n\nmsg.config = JSON.parse(msg.payload)\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 470,
    "y": 140,
    "wires": [["ae4012f3a0f36d55"]]
  },
  {
    "id": "3beaacfb846045a0",
    "type": "file in",
    "z": "5f060b715a381ee3",
    "name": "read/state",
    "filename": "/md127/zigbee2mqtt/data/state.json",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "utf8",
    "allProps": false,
    "x": 290,
    "y": 140,
    "wires": [["55e2baedf3eb8be9"]]
  },
  {
    "id": "ae4012f3a0f36d55",
    "type": "http response",
    "z": "5f060b715a381ee3",
    "name": "return/states",
    "statusCode": "200",
    "headers": {},
    "x": 670,
    "y": 140,
    "wires": []
  },
  {
    "id": "fc98391c49145722",
    "type": "http in",
    "z": "5f060b715a381ee3",
    "name": "get/config",
    "url": "/config",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 100,
    "y": 200,
    "wires": [["46d7ba7a6d14f270"]]
  },
  {
    "id": "ae9241aa189ca1f2",
    "type": "http response",
    "z": "5f060b715a381ee3",
    "name": "return/config",
    "statusCode": "200",
    "headers": {},
    "x": 810,
    "y": 200,
    "wires": []
  },
  {
    "id": "46d7ba7a6d14f270",
    "type": "file in",
    "z": "5f060b715a381ee3",
    "name": "read/devices",
    "filename": "/md127/zigbee2mqtt/data/configuration.yaml",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "utf8",
    "allProps": false,
    "x": 290,
    "y": 200,
    "wires": [["20184dc9bffaa402"]]
  },
  {
    "id": "20184dc9bffaa402",
    "type": "yaml",
    "z": "5f060b715a381ee3",
    "property": "payload",
    "name": "",
    "x": 470,
    "y": 200,
    "wires": [["d01908a4971ccf30"]]
  },
  {
    "id": "d01908a4971ccf30",
    "type": "function",
    "z": "5f060b715a381ee3",
    "name": "",
    "func": "return msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 640,
    "y": 200,
    "wires": [["ae9241aa189ca1f2"]]
  }
]
