rest-backup.flow.json
{
  "id": "5f060b715a381ee3",
  "label": "rest",
  "nodes": [
    {
      "id": "3398db8b8a5bfbd2",
      "type": "http in",
      "z": "5f060b715a381ee3",
      "name": "get/devices",
      "url": "/devices",
      "method": "get",
      "upload": false,
      "swaggerDoc": "",
      "x": 110,
      "y": 60,
      "wires": [["98bfd77518f535b5"]]
    },
    {
      "id": "b0f86a24312b05b6",
      "type": "http response",
      "z": "5f060b715a381ee3",
      "name": "return/devices",
      "statusCode": "200",
      "headers": {},
      "x": 1180,
      "y": 60,
      "wires": []
    },
    {
      "id": "fe5490b51a2ef29c",
      "type": "function",
      "z": "5f060b715a381ee3",
      "name": "",
      "func": "if(msg.payload) {\n\nmsg.config = JSON.parse(msg.payload)\n}\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 480,
      "y": 60,
      "wires": [["729b76026058ba53"]]
    },
    {
      "id": "98bfd77518f535b5",
      "type": "file in",
      "z": "5f060b715a381ee3",
      "name": "read/state",
      "filename": "/md127/zigbee2mqtt/data/state.json",
      "format": "utf8",
      "chunk": false,
      "sendError": false,
      "encoding": "utf8",
      "allProps": false,
      "x": 300,
      "y": 60,
      "wires": [["fe5490b51a2ef29c"]]
    },
    {
      "id": "729b76026058ba53",
      "type": "file in",
      "z": "5f060b715a381ee3",
      "name": "read/devices",
      "filename": "/md127/zigbee2mqtt/data/configuration.yaml",
      "format": "utf8",
      "chunk": false,
      "sendError": false,
      "encoding": "utf8",
      "allProps": false,
      "x": 670,
      "y": 60,
      "wires": [["5de10f33d749cfe2"]]
    },
    {
      "id": "5de10f33d749cfe2",
      "type": "yaml",
      "z": "5f060b715a381ee3",
      "property": "payload",
      "name": "",
      "x": 830,
      "y": 60,
      "wires": [["8b2497094b5c3c2f"]]
    },
    {
      "id": "8b2497094b5c3c2f",
      "type": "function",
      "z": "5f060b715a381ee3",
      "name": "",
      "func": "if(msg.payload) {\nlet payload= []\nfor (const [keyDevice, value] of Object.entries(msg.config)) {\n    let device = value\n    device.name= keyDevice\n    device.friendly_name = msg.payload.devices[keyDevice].friendly_name\n    payload.push(device)\n}\nmsg.payload = payload\nconsole.log(payload)\n}\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 980,
      "y": 60,
      "wires": [["b0f86a24312b05b6"]]
    },
    {
      "id": "d358c91628a2051b",
      "type": "http in",
      "z": "5f060b715a381ee3",
      "name": "get/states",
      "url": "/states",
      "method": "get",
      "upload": false,
      "swaggerDoc": "",
      "x": 100,
      "y": 140,
      "wires": [["3beaacfb846045a0"]]
    },
    {
      "id": "55e2baedf3eb8be9",
      "type": "function",
      "z": "5f060b715a381ee3",
      "name": "",
      "func": "if(msg.payload) {\n\nmsg.config = JSON.parse(msg.payload)\n}\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 470,
      "y": 140,
      "wires": [["ae4012f3a0f36d55"]]
    },
    {
      "id": "3beaacfb846045a0",
      "type": "file in",
      "z": "5f060b715a381ee3",
      "name": "read/state",
      "filename": "/md127/zigbee2mqtt/data/state.json",
      "format": "utf8",
      "chunk": false,
      "sendError": false,
      "encoding": "utf8",
      "allProps": false,
      "x": 290,
      "y": 140,
      "wires": [["55e2baedf3eb8be9"]]
    },
    {
      "id": "ae4012f3a0f36d55",
      "type": "http response",
      "z": "5f060b715a381ee3",
      "name": "return/states",
      "statusCode": "200",
      "headers": {},
      "x": 670,
      "y": 140,
      "wires": []
    },
    {
      "id": "fc98391c49145722",
      "type": "http in",
      "z": "5f060b715a381ee3",
      "name": "get/config",
      "url": "/config",
      "method": "get",
      "upload": false,
      "swaggerDoc": "",
      "x": 100,
      "y": 200,
      "wires": [["46d7ba7a6d14f270"]]
    },
    {
      "id": "ae9241aa189ca1f2",
      "type": "http response",
      "z": "5f060b715a381ee3",
      "name": "return/config",
      "statusCode": "200",
      "headers": {},
      "x": 810,
      "y": 200,
      "wires": []
    },
    {
      "id": "46d7ba7a6d14f270",
      "type": "file in",
      "z": "5f060b715a381ee3",
      "name": "read/devices",
      "filename": "/md127/zigbee2mqtt/data/configuration.yaml",
      "format": "utf8",
      "chunk": false,
      "sendError": false,
      "encoding": "utf8",
      "allProps": false,
      "x": 290,
      "y": 200,
      "wires": [["20184dc9bffaa402"]]
    },
    {
      "id": "20184dc9bffaa402",
      "type": "yaml",
      "z": "5f060b715a381ee3",
      "property": "payload",
      "name": "",
      "x": 470,
      "y": 200,
      "wires": [["d01908a4971ccf30"]]
    },
    {
      "id": "d01908a4971ccf30",
      "type": "function",
      "z": "5f060b715a381ee3",
      "name": "",
      "func": "return msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 640,
      "y": 200,
      "wires": [["ae9241aa189ca1f2"]]
    }
  ],
  "configs": [
    {
      "id": "v9dd",
      "type": "tado-config",
      "z": "5f060b715a381ee3",
      "name": "Appartement"
    }
  ]
}
