setup.flow.json
{
  "flows": [
    {
      "id": "3398db8b8a5bfbd2",
      "type": "http in",
      "z": "5f060b715a381ee3",
      "name": "get/devices",
      "url": "/devices",
      "method": "get",
      "upload": false,
      "swaggerDoc": "",
      "x": 110,
      "y": 60,
      "wires": [["98bfd77518f535b5"]]
    },
    {
      "id": "98bfd77518f535b5",
      "type": "file in",
      "z": "5f060b715a381ee3",
      "name": "read/state",
      "filename": "/md127/zigbee2mqtt/data/state.json",
      "format": "utf8",
      "chunk": false,
      "sendError": false,
      "encoding": "utf8",
      "allProps": false,
      "x": 300,
      "y": 60,
      "wires": [["fe5490b51a2ef29c"]]
    },
    {
      "id": "fe5490b51a2ef29c",
      "type": "function",
      "z": "5f060b715a381ee3",
      "name": "",
      "func": "if(msg.payload) {\n\nmsg.config = JSON.parse(msg.payload)\n}\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 480,
      "y": 60,
      "wires": [["729b76026058ba53"]]
    },
    {
      "id": "729b76026058ba53",
      "type": "file in",
      "z": "5f060b715a381ee3",
      "name": "read/devices",
      "filename": "/md127/zigbee2mqtt/data/configuration.yaml",
      "format": "utf8",
      "chunk": false,
      "sendError": false,
      "encoding": "utf8",
      "allProps": false,
      "x": 670,
      "y": 60,
      "wires": [["5de10f33d749cfe2"]]
    },
    {
      "id": "5de10f33d749cfe2",
      "type": "yaml",
      "z": "5f060b715a381ee3",
      "property": "payload",
      "name": "",
      "x": 830,
      "y": 60,
      "wires": [["8b2497094b5c3c2f"]]
    },
    {
      "id": "8b2497094b5c3c2f",
      "type": "function",
      "z": "5f060b715a381ee3",
      "name": "",
      "func": "if(msg.payload) {\nlet payload= []\nfor (const [keyDevice, value] of Object.entries(msg.config)) {\n    let device = value\n    device.name= keyDevice\n    device.friendly_name = msg.payload.devices[keyDevice].friendly_name\n    payload.push(device)\n}\nmsg.payload = payload\nconsole.log(payload)\n}\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 980,
      "y": 60,
      "wires": [["b0f86a24312b05b6"]]
    },
    {
      "id": "b0f86a24312b05b6",
      "type": "http response",
      "z": "5f060b715a381ee3",
      "name": "return/devices",
      "statusCode": "200",
      "headers": {},
      "x": 1180,
      "y": 60,
      "wires": []
    },
    {
      "id": "07edce41ce771ac4",
      "type": "socketio-config",
      "host": "http://localhost",
      "port": "3001",
      "path": "",
      "reconnection": true
    },
    {
      "id": "9171b792a64dab23",
      "type": "socketio-connector",
      "z": "5f060b715a381ee3",
      "server": "07edce41ce771ac4",
      "namespace": "",
      "name": "Socket",
      "x": 90,
      "y": 100,
      "wires": [[]]
    }
  ]
}
